@import url("https://fonts.googleapis.com/css?family=Vollkorn:400,700");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
@media screen and (min-width: 1200px) {
  body {
    width: 1200px;
    margin-left: 400px; }

  .noshow {
    display: show; }

  #class ul {
    flex-flow: row-wrap;
    padding-left: 100px; }
  #class p {
    width: 270; }
  #class img {
    padding-left: 30px; }

  header {
    padding-bottom: 280px;
    margin-top: 100px; }
    header p {
      padding-left: 450px;
      font-size: 1.6em;
      padding-top: 165px; }

  h1 {
    margin-left: 400px;
    padding-top: 140px;
    padding-bottom: 15px;
    font-size: 2.25em; }

  h2 {
    margin-left: 450px; }

  #lead {
    margin-left: 85px; }
    #lead div p {
      width: 465px; }

  #mission {
    width: 921.43px;
    margin-left: 232px; }

  .tagline {
    margin-left: 450px; } }
@media screen and (min-width: 768px) {
  body {
    width: 768px;
    margin-left: 150px;
    align-content: center; }

  #class {
    margin-left: 0;
    padding-right: 20px;
    width: 500px;
    display: flex; }
    #class ul {
      flex-flow: row wrap; }
    #class img {
      padding-left: 20px; }
    #class .hide {
      display: block; }

  header {
    padding-bottom: 50px;
    margin-left: 150px;
    height: 580px;
    width: 772px; }
    header p {
      padding-left: 245px;
      font-size: 1.5em;
      padding-top: 80px; }

  h1 {
    margin-left: 230px;
    padding-top: 45px;
    font-size: 1.5; }

  h2 {
    margin-left: 300px;
    font-size: 1.4em; }

  #lead {
    display: flex;
    margin-left: 10px; }
    #lead div {
      width: 440px;
      margin-right: 0px;
      padding-bottom: 10px; }
    #lead img {
      width: 368px;
      height: 309px; }
    #lead .hide {
      display: flex;
      margin-top: 20px;
      width: 350px;
      margin-right: 20px; }

  #mission {
    margin-left: 58px;
    width: 639px; }

  .tagline {
    margin-left: 407px; } }
a {
  text-decoration: none;
  color: black; }

body {
  width: 320px;
  font-family: 'Vollkorn';
  font-size: .875em;
  align-content: center; }

.footer {
  text-align: center; }

h1 {
  font-family: 'Kaushan Script';
  color: #8ED8FF;
  font-size: 1.2em;
  margin-left: 50px;
  margin-top: 0px;
  padding-top: 50px;
  text-transform: uppercase; }

h2 {
  font-size: 1.8em;
  padding-left: 90px;
  padding-top: 20px;
  font-weight: bold; }

header {
  height: 245px;
  width: 326px;
  margin-top: 20px; }
  header p {
    color: #8ED8FF;
    font-size: 1.2em;
    padding-top: 5px;
    padding-left: 40px; }

li {
  padding-bottom: 10px; }

#script {
  font-family: 'Kaushan Script';
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 2px solid #8ED8FF;
  padding: 10px 30px;
  margin-left: 100px; }

.tagline {
  font-size: 1.563em;
  align-content: center;
  margin-left: 10px;
  padding-top: 100px;
  margin-bottom: 100px; }

@media screen and (min-width: 1920px) {
  body {
    width: 1920px;
    margin-left: 300px; }

  #class {
    margin-left: 308px;
    margin-right: 302px; }
    #class li {
      flex-flow: row-wrap;
      padding-right: 20px; }
    #class p {
      width: 250px;
      margin-bottom: 126px; }
    #class img {
      padding-left: 30px; }

  header {
    padding-bottom: 300px; }
    header p {
      padding-left: 850px;
      font-size: 1.8em;
      padding-top: 150px; }

  h1 {
    margin-left: 850px;
    padding-bottom: 0;
    padding-top: 160px;
    font-size: 3em; }

  h2 {
    margin-left: 800px; }

  #lead {
    display: flex; }
    #lead div p {
      width: 590px; }
    #lead .hide {
      margin-left: 200px; }

  #mission {
    width: 800px;
    margin-left: 600px; }

  .tagline {
    margin-left: 850px; } }
.bold {
  font-size: 1.2em; }

#class {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  box-sizing: border-box; }
  #class li {
    padding-bottom: 20px; }
  #class p {
    padding-left: 5px;
    padding-right: 10px; }

#lead {
  margin: 0;
  padding: 0; }

#mission {
  padding-top: 0px; }

.hide {
  display: none; }

.title h2 {
  padding-left: 100px;
  margin-top: 50px;
  margin-bottom: 0; }

/*# sourceMappingURL=styles.css.map */
