@media screen and (min-width: 1920px){
    body{
        width: 1920px;
    }
    #class{
        margin-left: 308px;
        margin-right: 302px;

       li{
          flex-flow: row-wrap;
          padding-right:20px;
      }
       p{
          width: 250px;
          margin-bottom: 126px;
      }
       img{
          padding-left: 30px;
      }
}
    header{
        background:url("../images/main-photo-hd.png") no-repeat top center;
        padding-bottom: 300px;
        p{
          padding-left: 850px;
          font-size:1.8em;
          padding-top: 150px;
       }
    }

    h1{
     margin-left: 850px;
     padding-bottom:0;
     padding-top: 160px;
     font-size: 3em;
    }
    h2{
        margin-left: 800px;
    }
    #lead{
        display:flex;

        div p{
          width:590px;
      }
        .hide{
          margin-left: 200px;
      }
    }
    #mission{
        width: 800px;
        margin-left: 600px;
    }

    .tagline{
        margin-left: 850px;
    }
}
