@media screen and (min-width: 768px){
    body{
        width: 768px;
        margin-left: 150px;
        align-content: center;
        }

    #class{
        margin-left:0;
        padding-right:20px;
        width: 500px;
        display:flex;
        ul{
           flex-flow:row wrap;
       }
       img{
          padding-left: 20px;
      }
      .hide{
          display: block;
      }
    }

    header{
        padding-bottom: 50px;
        margin-left: 150px;
        	height: 580px;
          width: 772px;

       p{
         padding-left: 245px;
         font-size:1.5em;
          padding-top: 80px;
      }
    }
    h1{
     margin-left: 230px;
     padding-top: 45px;
     font-size: 1.5;

    }
    h2{
        margin-left: 300px;
        font-size:1.4em;
    }

    #lead{
       display:flex;
       margin-left: 10px;

       div{
          width: 440px;
          margin-right:0px;
          padding-bottom:10px;
      }
      img{
        width: 368px;
        height: 309px;
      }
      .hide{
           display: flex;
           margin-top: 20px;
           width:350px;
          margin-right: 20px;
       }

    }
    #mission{
        margin-left: 58px;
        width: 639px;
    }
    .tagline{
        margin-left: 407px;
    }
}
