@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,700');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

a{
    text-decoration: none;
    color: black;
}
body{
    width:320px;
    margin:auto;
    font-family: 'Vollkorn';
    font-size: .875em;
}

.bold{
  font-size:1.2em;
}
#class{
    list-style:none;
    margin-left:0;
    padding-left:0;
    box-sizing:border-box;
    li{
        padding-bottom: 20px;
    }
    p{
       padding-left:5px;
       padding-right: 10px;
   }
}


.title h2{
    padding-left: 100px;
    margin-top: 50px;
    margin-bottom: 0;
}

.footer{
    text-align: center;
}

h1{
  font-family: 'Kaushan Script';
  color:#BBD8FA;
  font-size: 1.4em;
  margin-left:50px;
  margin-top:0px;
  padding-top: 50px;
  text-transform: uppercase;
}

h2{
    font-size: 1.5em;
    padding-left: 90px;
    padding-top: 20px;
    font-weight:bold;
}

#mission{
    padding-top: 0px;
}
header {
   background: url("images/main-photo.png") no-repeat center top;
   height: 170px;
}

header p{
    color: #BBD8FA;
    font-size: 1.2em;
    padding-top: 47px;
    padding-left: 40px;
}

li{
    padding-bottom: 10px;
}

.hide{
    display:none;
}

#script {
    font-family: 'Kaushan Script';
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid #BBD8FA;
    padding:10px 30px;
    margin-left:100px;

}
#lead{
    margin:0;
    padding:0;
}
.tagline{
     font-size:1.563em;
    align-content:center;
    margin-left:10px;
    padding-top: 100px;
    margin-bottom: 100px;
}
