@import '_laptop';
@import '_tablet';
@import '_body_main';
@import '_desktop';

.bold {
  font-size: 1.2em;
}

#class {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  box-sizing: border-box;

  li {
    padding-bottom: 20px;
  }

  p {
    padding-left: 5px;
    padding-right: 10px;
  }
}

#lead {
  margin: 0;
  padding: 0;
}

#mission {
  padding-top: 0;
}

.hide {
  display: none;
}

.title h2 {
  padding-left: 100px;
  margin-top: 50px;
  margin-bottom: 0;
}
